@{
    ViewBag.Title = "Menu Facil :: Dashboard";
		Layout = "";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	@Styles.Render("~/content/bootstrap")
	@Styles.Render("~/content/font-awesome/css/font-awesome.css")
	@Styles.Render("~/content/font-awesome/css/font-awesome-ie7.css")
	@Styles.Render("~/content/backoffice.css")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/underscore.js")
	@Scripts.Render("~/Scripts/app/sammy.js")
	@Scripts.Render("~/Scripts/app/interface_application.js")
	@Scripts.Render("~/bundles/views")
	@Scripts.Render("~/bundles/controllers")
	@Scripts.Render("~/Scripts/app/routes.js")

	<script type="text/javascript">
		$(function () {
			admin.run();
		});
	</script>

</head>
<body>
	<header id="header">
		<div>
			<a href="/admin"><i class="icon-home"></i> Dashboard</a>
			<a href="/admin/#/filiais"><i class="icon-food"></i> Filiais</a>
			<a href="/admin/#/funcionarios"><i class="icon-group"></i> Funcionários</a>
			<a href="/admin/#/conta"><i class="icon-cogs"></i> Conta</a>
			<a href="/admin/sair"><i class="icon-signout"></i> Sair</a>
		</div>
	</header>
	<div class="content">
		<div id="body"></div>
	</div>
</body>
</html>